<h1>{{name}}</h1>
<ul>
    {{#each products as |product|}}
        <li>
            <h2>{{product.name}}</h2>
            <span>{{product.createdAt}}</span>
            <div>{{product.price}}</div>
        </li>
    {{/each}}
</ul>

